<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My QuickNotes</title>
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
</head>
<header class="header">
    <div class = "middle container">
        <div>
            <h1>Quick Notes</h1>
        </div>
    </div>
    <div class = "right container">
        <form action="/logout" method="GET">
            <button type = "submit" class = "btn">Logout</button>
        </form>
    </div>
</header>
<body>
    