<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
     <div class = "container center">
        <h1>Register</h1>
        <div>
            <form action="/register" method="POST">
            <div class = "form-group container">
                <label class = "label" for="username">Email</label>
                <input class = "textbox" type="email" name = "username">
                <label class = "label" for="password">Password</label>
                <input class = "textbox" type="password" name = "password">
                <label class = "label" for="city">Town/City</label>
                <input class = "textbox" type="text" name = "city">
                <button class = "btn" type="submit">Register</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>