<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
     <div>
        <h1>Register</h1>
        <div>
            <form action="/register" method="POST">
            <div class = "form-group">
                <label for="username">Email</label>
                <input type="email" name = "username">
                <label for="password">Password</label>
                <input type="password" name = "password">
                <label for="city">Town/City</label>
                <input type="text" name = "city">
                <button type="submit">Register</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>